<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743519478442-c21nvcsvsfma845kpemfbh8opls864au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743519478442-c21nvcsvsfma845kpemfbh8opls864au</string>
	<key>API_KEY</key>
	<string>AIzaSyCeTvW3P1qC3mfzk1Ojvct6HMt7Q8rNXn4</string>
	<key>GCM_SENDER_ID</key>
	<string>743519478442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashi.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-202e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-202e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743519478442:ios:b70136cdb750b3766226d3</string>
</dict>
</plist>